body{
    background-color: #f0e1d8;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
header{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 400%;
    margin-bottom: 10px;
    font-weight: 800;
}
.hero{
    background:linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0.7)), url("https://wallpapercave.com/wp/Azur3Q1.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    background-size: cover;
}
footer{
    background-color: #231F20;
}
.lead {
    font-size: xx-large;
}
img {
    border: solid ;
    border-radius: 10px;
}